{% extends "bundles/_layouts/cp" %}

{% do view.registerAssetBundle("mythdigital\\bundles\\web\\assets\\bundles\\BundleAsset") %}

{% set selectedSubnavItem = "bundles" %}

{% set crumbs = [
    { label: "Bundles"|t('bundles'), url: url('bundles') },
] %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}
{% import "bundles/_includes/forms/commerceForms" as commerceForms %}

{% set bundleClasses = "" %}
{% if (bundle.hasErrors()) %}
    {% set bundleClasses = "error" %}
{% endif %}

{% set tabs = {
    0: {'label':'Bundle'|t('bundles'),'url':'#bundle','class':bundleClasses},
} %}


{% block content %}
    <input type="hidden" name="action" value="bundles/default/save">
    {{ redirectInput('bundles/') }}
    {% if bundle.id %}
        <input type="hidden" name="sortOrder" value="{{ bundle.sortOrder }}">
        <input type="hidden" name="id" value="{{ bundle.id }}">
    {% endif %}

    <div id="bundle">
        {{ forms.textField({
            first: true,
            label: "Name"|t('bundles'),
            instructions: "What this bundle will be called in the CP."|t('bundles'),
            id: 'name',
            name: 'name',
            value: bundle.name,
            errors: bundle.getErrors('name'),
            autofocus: true,
            required: true,
        }) }}

        {{ forms.textField({
            label: "Description"|t('bundles'),
            instructions: "Bundle description."|t('bundles'),
            id: 'description',
            name: 'description',
            value: bundle.description,
            errors: bundle.getErrors('description'),
        }) }}

        {{ forms.lightSwitchField({
            label: "Enable this bundle"|t('bundles'),
            id: 'enabled',
            name: 'enabled',
            value: 1,
            on: bundle.enabled,
            checked: bundle.enabled,
            errors: bundle.getErrors('enabled')
        }) }}

        {{ forms.dateTimeField({
            label: "Start Date"|t('bundles'),
            instructions: "Date from which the bundle will be active. Leave blank for unlimited start date"|t('bundles'),
            id: 'dateFrom',
            name: 'dateFrom',
            value: bundle.dateFrom,
            errors: bundle.getErrors('dateFrom'),
        }) }}   
        
        {{ forms.dateTimeField({
            label: "End Date"|t('bundles'),
            instructions: "Date when the bundle will be finished. Leave blank for unlimited end date"|t('bundles'),
            id: 'dateTo',
            name: 'dateTo',
            value: bundle.dateTo,
            errors: bundle.getErrors('dateTo'),
        }) }}    
        
        {{ commerceForms.numberField({
            label: "Bundle price"|t('bundles'),
            instructions: "The total price of the bundle."|t('bundles'),
            id: 'bundlePrice',
            name: 'bundlePrice',
            value: bundle.bundlePrice != 0 ? bundle.bundlePrice : 0,
            type: 'number',
            step: 'any',
            required: true,
            errors: bundle.getErrors('bundlePrice'),
        }) }}

        {{ commerceForms.numberField({
            label: "Bundle Percentage"|t('bundles'),
            instructions: "The bundle percentage for Black Friday"|t('bundles'),
            id: 'pricePercentage',
            name: 'pricePercentage',
            value: bundle.pricePercentage != 0 ? bundle.pricePercentage : 0,
            type: 'number',
            step: 'any',
            required: false,
            errors: bundle.getErrors('pricePercentage'),
        }) }}

        <div class="field">
            <div class="heading">
                <label>Categories</label>
            </div>
        </div>

        <table class="data fullwidth collapsible" id="categorySelectTable">
            <thead>
                <tr>
                    <td>Category</td>
                    <td>Quantity</td>
                </tr>
            </thead>
            <tbody>
                {% for category in bundle.getCategoryIds() %}
                    {% include 'bundles/bundles/_categoryPartial.html' with {'category': category} %}
                {% endfor %}
                <tr>
                    <td colspan="2"><a id="addCategory" href='#'>Add a category</a></td>
                </tr>                
            </tbody>
        </table>

        {% if bundle.getErrors('categories') is not empty %}
            {% for err in bundle.getErrors('categories') %}
            <p class="error">
                {{ err }}
            </p> 
            {% endfor %}
        {% endif %}      
        
        <div class="field">
            <div class="heading">
                <label>Products</label>
            </div>
        </div>        

        <table class="data fullwidth collapsible" id="purchasableSelectTable">
            <thead>
                <tr>
                    <td>Product</td>
                    <td>Quantity</td>
                </tr>
            </thead>
            <tbody>
                {% for purchasable in bundle.getPurchasableIds() %}
                    {% include 'bundles/bundles/_purchasablePartial.html' with {'purchasable': purchasable} %}
                {% endfor %}
                <tr>
                    <td colspan="2"><a id="addPurchasable" href='#'>Add a product</a></td>
                </tr>                
            </tbody>
        </table>

        {% if bundle.getErrors('purchasables') is not empty %}
            {% for err in bundle.getErrors('purchasables') %}
            <p class="error">
                {{ err }}
            </p> 
            {% endfor %}
        {% endif %}           

    </div>

{% endblock %}


{% js %}
        $(function() {
            $('#groups, #productTypes').selectize({
                plugins: ['remove_button'],
                dropdownParent: 'body'
            });

        });
{% endjs %}
