{# @var craft \craft\web\twig\variables\CraftVariable #}
{% import "_includes/forms" as forms %}
{% import "bundles/_includes/forms/commerceForms" as commerceForms %}

<tr data-row="true">
    <td>
        {{ forms.elementSelectField({
            id: 'purchasables' ~ purchasable.index,
            name: 'purchasables[' ~ purchasable.index ~ ']',
            elements: purchasable ? purchasable.purchasables : null,
            elementType: purchasableElementType,
            limit: null
        }) }} 
    </td>
    <td>
        {{ commerceForms.numberField({
            id: 'purchasablesPurchaseQty' ~ purchasable.index,
            name: 'purchasablesPurchaseQty[' ~ purchasable.index ~ ']',
            value: purchasable ? purchasable.purchaseQty : 0,
            type: 'number',
            step: 'any',
            required: true
        }) }}         
    </td>
</tr>